{{link-to "Back to list of orgs" "orgs"}}
<ul>
    {{#each content as |org|}}
    <li {{action 'saveClickedRepoName' org.id}}>{{link-to org.id "org.repo.issues" org.id }}</li>
    {{/each}}
</ul>
{{outlet}}
